# Produccion Render
SECRET_KEY=pon_aqui_una_clave_secreta
DJANGO_DEBUG=False
DATABASE_URL=postgresql://USUARIO:CONTRASENA@HOST/BASE?sslmode=require

# Microservicio existente de curiosidades/monedas
MICROSERVICIO_URL=https://tu-microservicio.onrender.com

# CRUD independientes
CRUD_INSERTAR_URL=https://mascotas-python-insertar.onrender.com
CRUD_ACTUALIZAR_URL=https://mascotas-python-actualizar.onrender.com
CRUD_ELIMINAR_URL=https://mascotas-python-eliminar.onrender.com

# Resiliencia: Python primero, Node como respaldo
CONSULTA_PYTHON_URL=https://mascotas-consulta-python.onrender.com
CONSULTA_NODE_URL=https://mascotas-consulta-node.onrender.com

# Opcional
GROQ_API_KEY=
